body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: bisque;
}
.mainbody{
    display: flex;
    width: 45%;
    height: 400px
}
.product{
    content: "";
    flex: 1;
    height: 400px;
    background-image: url('./vase.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}
.productinfo{
    flex: 1;
    background-color: white;
}
.header{
    font-size: 28px;
    font-weight: bold;
}
p{
   width: 230px;
   color: gray;
   padding-top: 30px;
}
.lowopacity{
    opacity: 20%;
    font-size: 14px;
}
.price{
    font-size: 26px;
    font-weight: bold;
}
button{
    border-radius: 20px;
    border: none;
    height: 35px;
    font-size: 14px;
    width: 150px;
    background-color: lightgreen;
    color: white;
    font-weight: bold;
}
.buying{
    display: flex;
    padding-top: 50px;
    align-items: center;
}
.buybtn{
    padding-left: 50px;
}
.inputctrl{
    padding: 40px;
}

@media (max-width:600px) and (min-width:2303px){
    body{
        display: flex;
        justify-content: left;
        align-items: left;
        background-color: rgb(28, 190, 98);
        margin: auto;
    }
    .mainbody{
        display: flex;
        flex-direction: column;
    }
    .product{
        content: "";
        flex: 1;
        height: 400px;
        width: 400px;
        /* background-image: url('./vase.jpg'); */
        /* background-repeat: no-repeat; */
        /* background-position: top; */
        /* background-size: cover; */
    }
  
    .productinfo{
        width: fit-content;
    }
    .header{
        font-size: 28px;
        font-weight: bold;
    }
    p{
       width: 230px;
       color: gray;
       padding-top: 0px;
    }
    .lowopacity{
        opacity: 20%;
        font-size: 14px;
    }
    .price{
        font-size: 18px;
        font-weight: bold;
    }
    button{
        font-size: 12px;
        height: fit-content;
        width: fit-content;
        padding: 5px 10px;
        font-weight: 200;
    }
    .buying{
        display: flex;
        width: 70%;
        margin: 0px auto;
        padding-top: 0px;
        justify-content: space-between;
        align-items: center;
    }
    .buybtn{
        padding-left:0px;
    }
    .inputctrl{
        padding: 0px;
    }
}