@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*{
    box-sizing: border-box;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}
body{
    background-color: black;
}
.logo{
    color: red;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 23px;
    display: flex;
}
.n{
    font-size: 26px;
}
.x{
    font-size: 25px;
}
.navbar{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
}
.navwrapper{
    display: flex;
    justify-content: space-between;
    width: 86%;
}
.nav-left{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-right{
    display: flex;
    align-items: center;
    width:80%;
    justify-content: space-between;
}
.browser-search-container{
    display: flex;
    align-items: center;
    width: 100%;
}
.browse{
    margin-left: 20px;
    color: white;
    background-color: rgb(39, 41, 43);
    height: 30px;
    width: 40%;
    padding: 5px;
    border-radius: 4px;
    font-size: 12px;
    align-items: center;
    display: flex;
}
.fa-bars{
    margin-right: 3px;
}
.login{
    color: white;
}
.searchbar input{
    width: 550px;
    outline: none;
    border: none;
    height: 30px;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
}
.fa-magnifying-glass{
    margin: 0px 10px;
}
.searchbar{
    display: flex;
    align-items: center;
    border-radius: 2px;
    background-color: white;
}
/* navbar ends here */
.content{
    padding: 20px;
}
.left-part{
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider{
    display: flex;
    position: relative;
    width: 85%;
    margin: 0px auto;
}
.slider-icon{
     display: flex;
     justify-content: space-between;
     position: absolute;
     width: 55%;
}
.fa-angle-right,.fa-angle-left{
    border: 2px solid white;
    height: 50px;
    width: 30px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0.295);
}
.movie-img img{
    height: 150px;
}
.card-img img{
    height: 150px;
}
.movie-desc{
    display: flex;
    position: absolute;
    bottom: 0px;
    background: linear-gradient(rgb(0,0,0,0%)  , rgb(0,0,0,100%));
    justify-content: space-around;
    align-items: center;
    padding: 0px 10px;
}
.title-rating{
    width: 70%;
    align-self: flex-end;
}
.play-icon{
    color: yellow;
    border: 2px solid yellow;
    border-radius: 100%;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.title{
    color: white;
    font-size: 28px;
    font-weight: bold;
}
.about-mv{
    width: 80%;
    color: #AAAAAA;
    font-size: 12px;
    margin-top: 10px;
}
.rating{
    display: flex;
    color: white;
    justify-content: space-between;
    width: 15%;
    margin-top: 10px;
}
.card-rating{
    display: flex;
    color: white;
    justify-content: space-between;
    width: 25%;
    font-size: 12px;
}
.fa-star{
    color: yellow;
    margin-right: 2px;
}
#slider-img{
    height: 500px;
}
.right-part{
    display: grid;
    grid-template-columns: 80% 20%;
}
.all-cards{
    padding: 10px;
    display: grid;
    grid-template-columns: auto;
    gap: 10px;
    background-color: #191717d9;
}
.card-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.watch-btn{
    color: white;
    margin-top: 10px;
    font-size: 14px;
    width: 40%;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    background-color: #aaaaaa57;
    height: 30px;
    border-radius: 4px;
    cursor: pointer;
}
.card-title{
    font-size: 14px;
    color: white;
    margin: 10px 0px;
    letter-spacing: 2px;
}
.card-desc{
    width: 70%;
}
.about-card{
    width: 80%;
    margin-bottom: 10px;
    font-size: 11px;
    color: #AAAAAA;
}
.sharewith{
    text-align: center;
    padding: 10px;
    font-size: 12px;
    color: white;
    background-color: rgba(170, 170, 170, 0.209);
}
/* movie slider ends here */
.about-netflix{
    font-size: 16px;
    width: 60%;
    margin:30px auto;
    color: #AAAAAA;
}
.gif{
    background-image: url(https://media0.giphy.com/media/bJXQTrx2JOZKE/giphy.gif?cid=ecf05e47269rhmpxnvrt2nwxch83nt7yrox1zq1qvjkktmxp&rid=giphy.gif&ct=g);
    content: "";
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 800px;
    margin: 0px auto;
}
/* css for trending,movies and tv shows */
.red-bar{
    content: "";
    background-color: red;
    height: 30px;
    width: 5px;
}
#trend{
    margin-left: 20px;
}
.trending{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
}
.fa-circle-play{
    color: yellow;
}
.movies-cat{
    color: yellow;
    font-size: 14px;
}
.TV-shows-cat{
    color: white;
    font-size: 14px;
}
.categories{
    display: flex;
    justify-content: space-between;
    width: 25%;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 10px;
    margin-left: 140px;
}
/*Css for trending movies and TV shows ends here*/

/* css for movies cards */
.movie-container{
    width: fit-content;
}
.about-film{
    background-color: rgba(81, 75, 75, 0.526);
    padding: 10px;
}
.film-img img{
    height: 265px;
}
.film-watch-btn{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
    color: #AAAAAA;
    background-color: rgba(106, 99, 99, 0.329);
    border-radius: 2px;
    height: 25px;
}
.film-title{
    color: white;
    font-size: 12px;
    margin: 10px 0px;
}
.film-rating{
    font-size: 11px;
    color: white;
    width: 70%;
    display: flex;
    justify-content: space-between;
}
.hd{
    font-size: 11px;
    color: white;
    font-weight: bold;
}
.watch{
    color: #AAAAAA;
    font-size: 12px;
}
.movie-card-container{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    gap: 20px;
    width: 85%;
    margin: 0px auto;
}
/* css for latest TV shows */
#latest{
    color: white;
    margin-left: 20px;
    font-size: 22px;
}
.Latest{
    display: flex;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 10px;
    margin-left: 140px;
}

/* footer css */
.footer-pageno{
    margin-top: 50px;
}
.footer-links{
    text-decoration: none;
    color: white;
}
.links-contacts{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    margin-bottom: 20px;
}
.about{
    text-align: center;
    color: white;
    font-size: 12px;
    font-weight: 100;
    width: 55%;
}
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}
.copyright{
    color: white;
    font-size: 12px;
    margin-top: 20px;
}